html {
  background-color: #f8f8ff;
}

nav {
  background-color: #101518;
  color: white;
  height: 100px;
}

h2 {
  text-align: left;
  font-size: 30px;
  text-decoration: underline;
  padding: 10px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin: 5px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding:0;
}


hr {
  border: 1px solid white;
  width: 90%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #101518;
  color: white;
  font-size: 14px;
  height: 100px;
}
/* NAVIGATION MENU */

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
}

.nav-item {
  font-size: 18px;
  border: 1px solid white;
  padding: 12px;
  cursor: pointer;
}

.nav-item:hover {
  cursor: pointer;
  opacity: .5;
}

#logo {
  width: 400px;
  display: flex;
  align-items: center;
  margin: 10px;
}

#responsive-tab {
  display:none;
}

@media (max-width: 1200px) {
  .nav-item {
    display: none;
  }
  #responsive-tab {
    display:block;
  }
  .nav-list {
    justify-content: flex-end;
    margin: 20px;
  }
}

@media (max-width:660px){
  #logo {
    width:200px;
  }
}

@media (max-width:350px){
  #logo {
    display: none;
  }
}

/*RESPONSIVE NAV MENU*/

.mobile-menu {
  background-color: #101518;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 15px 30px;
  position: fixed;
  transition: transform 0.25s ease-in-out;
  transform: translateX(100%);
  z-index: 3;
}

.open-mobile-menu {
  transform: translateX(0%);
  opacity: 1;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mR-menu-item {
  font-size: 30px;
  color: white;
  border: 2px solid white;
  padding: 20px 100px;
  margin: 15px;
  text-decoration: none;
}


.mR-menu-item:hover {
  opacity: .5;
  border: 2px solid lightblue;
  color: lightblue;
  cursor: pointer;
}

/*///// MISC SECTION /////*/

.misc-title {
  font-size: 80px;
  text-align: center;
  font-weight: 1000;
}

.misc-content {
  display: flex;
  justify-content: space-evenly;
}

/*Extra Collab*/

.extra-collab-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #c5d1d8;
  width: 40vw;
  margin-bottom: 100px;

}

.eC-item {
  display: flex;
  padding: 30px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.eC-description{
  margin-left:15px;
}

.eC-title,.eP-title{
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2.5px;
  font-weight: 1000;
}

.eC-content {
  font-size: 15px;
  font-weight: 1000;
}

.eC-pic img{
  width: 300px;
  background-size: cover;
  background-position: center;
  border: 5px solid #101518;
}

/*Extra Project*/
.extra-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c5d1d8;
  width: 40vw;
  margin-bottom: 100px;
}

.eP-header {
  font-size: 60px;
  padding: 0px;
  letter-spacing: 3px;
}

.eP-pic img{
  width: 400px;
  background-size: cover;
  background-position: center;
  border: 5px solid #101518;
}

.eP-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
}

.eP-description {
  width: 400px;
}

.eP-details {
  font-size: 18px;
}

@media (max-width: 780px) {
  .eC-pic img{
    width: 350px;
  }

  .eP-pic img, .eP-description{
    width: 500px;
  }
}

@media (max-width: 560px) {
    .eC-pic img{
      width: 250px;
    }

    .eP-pic img, .eP-description{
      width: 350px;
      }
  .misc-title {
      font-size: 60px;
    }
}

@media (max-width: 480px) {
  .eC-pic img{
    display: none;
  }

  .eP-pic img, .eP-description{
    width: 250px;
    }
  .eP-header {
      font-size: 40px;
    }
  }

@media (max-width: 390px) {
  .misc-title {
      font-size: 50px;
    }
  .eP-header {
      font-size: 30px;
    }
  }
