html {
  background-color: #f8f8ff;
}
nav {
  background-color: #101518;
  color: white;
  height: 100px;
}

h2 {
  text-align: left;
  font-size: 30px;
  text-decoration: underline;
  padding: 10px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin: 5px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding:0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101518;
  height: 260px;
  padding:  20px 40px;
}

legend {
  font-weight: 500;
  font-size: 20px;
  color: white;
}


input {
  height:30px;
  width: 50%;
  background-color: #f8f8ff;
  border: 3px solid #f8f8ff;
  border-radius: 3px;
  margin: 5px;
}

input[type=submit] {
  background: #f8f8ff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;

}

input[type=email] {
  width: 70%;
}

hr {
  border: 1px solid white;
  width: 90%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #101518;
  color: white;
  font-size: 14px;
  height: 100px;
}
/* NAVIGATION MENU */

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
}

.nav-item {
  font-size: 18px;
  border: 1px solid white;
  padding: 12px;
  cursor: pointer;
}

.nav-item:hover {
  cursor: pointer;
  opacity: .5;

}

#logo {
  width: 400px;
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

#responsive-tab {
  display:none;
}

@media (max-width: 1200px) {
  .nav-item {
    display: none;
  }
  #responsive-tab {
    display:block;
  }
  .nav-list {
    justify-content: flex-end;
    margin: 20px;
  }
}

@media (max-width:660px){
  #logo {
    width:200px;
  }
}

@media (max-width:350px){
  #logo {
    display: none;
  }
}

/*RESPONSIVE NAV MENU*/

.mobile-menu {
  background-color: #101518;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 15px 30px;
  position: fixed;
  transition: transform 0.25s ease-in-out;
  transform: translateX(100%);
  z-index: 3;
}

.open-mobile-menu {
  transform: translateX(0%);
  opacity: 1;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mR-menu-item {
  font-size: 30px;
  color: white;
  border: 2px solid white;
  padding: 20px 100px;
  margin: 15px;
  text-decoration: none;
}


.mR-menu-item:hover {
  opacity: .5;
  border: 2px solid lightblue;
  color: lightblue;
  cursor: pointer;
}

/*///// HOME PAGE /////*/

/* FIRST SECTION */

.carousel {
    margin: 0px;
    padding:0px;
    overflow: hidden;
    position: relative;
}

.carousel-track {
  width: 600%;
  display: flex;
  transform: translateX(0%);
  transition: 0.4s;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 1;
}

.carousel_info  {
  display: flex;
  flex-direction: column;
  position: relative;
}


.carousel_image img{
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subtitle {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 800;
  text-align: left;
  margin: 10px;
  padding-bottom: 30px;
  color:#101518;
}

.carousel_title {
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #2C2C2C;
}

.carousel_description {
    font-size: 22px;
    color: #7e7e7e;
    margin: 0px 10px;
}

.carousel_btn {
    color: #2C2C2C;
    letter-spacing: 3px;
    font-size: 15px;
    text-transform: uppercase;
    margin: 25px 10px;
    text-decoration: none;
}

.btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.carousel_btn:hover {
  color: blue;
  font-weight: bolder;
}

.arrows {
  z-index: 2;
}

.arrows:hover {
  cursor: pointer;
  opacity: .25;
}

#left {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color:lightgray;
  border-radius: 5px;
  padding: 10px;
}

#right {
  position: absolute;
  top: 25px;
  left: 100px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px;
}

#first-section {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 1180px) {
  .carousel {
        width: 100%;
        margin: 0px;
        overflow: hidden;
        position: relative;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid lightgray;
        border-radius: 10px;
    }

    .carousel-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      flex: 1;
    }

    .carousel_info  {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .carousel_image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .carousel_image img{
      width: 100%;
    }

    .carousel_title {
        margin: 5px;
        font-size: 32px;
        letter-spacing: 2px;
        font-weight: 600;
        color: #2C2C2C;
    }

    .carousel_description {
        font-size: 18px;
        color: #7e7e7e;
        margin: 0px 10px;
    }

    .carousel_btn {
        color: #2C2C2C;
        letter-spacing: 3px;
        font-size: 13px;
        text-transform: uppercase;
        margin: 25px 10px;
        text-decoration: none;
    }

    #left {
      position: absolute;
      top: 40px;
      left: 40px;
    }

    #right {
      position: absolute;
      top: 40px;
      left: 120px;

    }

    #first-section {
        margin: 0;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@media (max-width: 960px){
  .carousel-item img{
    display:none;
  }

  #left {
    position: absolute;
    top: 190px;
    left:30px;
  }

  #right {
    position: absolute;
    top: 190px;
    left:100px;
  }
}

@media (max-width: 750px){
  #left {
    position: absolute;
    top: 240px;
    left:30px;
  }

  #right {
    position: absolute;
    top: 240px;
    left:100px;
  }

}

@media (max-width: 590px){
  #left {
    position: absolute;
    top: 260px;
    left:30px;
  }

  #right {
    position: absolute;
    top: 260px;
    left:100px;
  }
}


@media (max-width: 480px){
  #left {
    position: absolute;
    top: 300px;
    left:20px;
  }

  #right {
    position: absolute;
    top: 300px;
    left:90px;
  }
}

@media (max-width: 420px){
 #left {
    position: absolute;
    top: 335px;
    left:20px;
    width: 20px;
  }
  #right {
    position: absolute;
    top: 335px;
    left:70px;
    width: 20px;
  }
}

@media (max-width: 360px){
 #left {
    position: absolute;
    top: 340px;
    left:20px;
    width: 20px;
  }

  #right {
    position: absolute;
    top: 340px;
    left:70px;
    width: 20px;
  }
}

@media (max-width: 320px){
 #left {
    position: absolute;
    top: 75px;
    left:20px;
    width: 20px;
  }
  #right {
    position: absolute;
    top: 75px;
    left:70px;
    width: 20px;
  }
}


/* SECOND SECTION */

.radzpic {
  width: 500px;
  border-radius: 10px;
  margin: 30px;
  margin-bottom: 0px;
}

.second-break {
  border: 1px solid gray;
  width: 80%;
}

.second-title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.second-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.contact-container {
  width: 500px;
}

.contact-name {
  display: flex;
  justify-content: space-evenly;
  padding:10px;
}

.contact-email {
  display: flex;
  justify-content: center;
  padding:10px;
}

.subscribe {
  display: flex;
  justify-content: center;
  padding:10px;
}

input:hover {
  border: 2px solid cyan;
}

#second-section {
  padding: 50px 0px;
}

@media (max-width: 1200px){
  .second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .radzpic {
    display: none;
  }
  .second-title {
    font-size: 60px;
    margin: 0px;
    padding: 0px;
  }

  form {
    height: 300px;
    padding: 40px 100px;
  }

  input {
    width: 100%;
    margin: 5px;
  }

input[type=email] {
  width: 100%;
  }
}

@media (max-width: 768px){
  .second-container {
    padding: 50px;
  }
  .second-title {
    font-size: 40px;
    padding-bottom:10px;
  }

  form {
    height: 250px;
    padding: 30px 80px;
  }
}

@media (max-width: 480px) {
  .second-container {
    display: none;
  }
}

/* THIRD SECTION */

.background-container {
  display: flex;
  justify-content: center;
  padding: 35px 50px;
  background-color: lightgray;
}

.background-container p {
  margin-right: 10px;
}

#background-pic {
  width: 700px;
  background-position: center;
  background-size: cover;
}

#third-section {
  background-color: lightgray;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

#third-title {
  font-size: 40px;
  padding-bottom: 0px;
  font-weight: bolder;
}

@media (max-width: 1290px) {
  #background-pic {
    width:400px;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 1060px) {
  #background-pic {
    display:none;
  }
}

/* FOURTH SECTION */

.collab-container {
  display: flex;
  justify-content: space-around;
  margin: 25px 0px;
}

.collab {
  width: 300px;
}

.collab:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.collab-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.spaceship {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://spaceship.run/images/landing-hero.jpg");
  height: 200px;
  width: 300px;
  background-position: center;
  background-size: cover;
}

.calendly-spotlight {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://miro.medium.com/max/2000/1*M-KO13v-bDI5OGfkFX6W4A.jpeg");
  height: 200px;
  width: 300px;
  background-position: center;
  background-size: cover;
}

.calendly-wit {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://miro.medium.com/max/1400/1*uEh4z9HvRS_Tu_ZiqR_d4Q.jpeg");
  height: 200px;
  width: 300px;
  background-position: center;
  background-size: cover;
}

#fourth-break {
  border: 1px solid gray;
  width: 90%;
}

#fourth-section {
  padding-top: 50px;
}

#fourth-title {
  text-align: center;
  font-size: 50px;
  padding: 0px;
}

@media (max-width: 960px){
  .collab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0px;
  }

  .spaceship,.calendly-spotlight,.calendly-wit {
    height: 400px;
    width: 600px;
    background-position: center;
    background-size: cover;
  }
  .collab {
    width: 600px;
    font-size: 20px;
  }
}

@media (max-width: 768px){
  .collab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0px;
  }

  .spaceship,.calendly-spotlight,.calendly-wit {
    height: 200px;
    width:300px;
    background-position: center;
    background-size: cover;
  }
  .collab {
    width: 300px;
    font-size: 16px;
  }
}
